<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please Log in</h1>
    <h2>{{invalid}}</h2>
    <form class="login" action="/login" method="post">
      <input placeholder="Username" type="text" name="username" value="">
      <input placeholder="Password" type="password" name="password" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
    <form class="create" action="/create" method="post">
      <button type="submit" name="button">Create an Account</button>
    </form>
  </body>
</html>
