<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create your profile</h1>
    <form class="login" action="/signup" method="post">
      <input placeholder="Create Username" type="text" name="username" value="">
      <input placeholder="Create Password" type="password" name="password" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
